<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Login - FinBee</title>

    <link
        rel="stylesheet"
        href="/static/css/auth.css"
    >

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

</head>

<body>

    <div class="auth-container">

        <div class="auth-card">

            <div class="auth-header">

                <div class="logo">
                    🐝
                </div>

                <h1>
                    FinBee Login
                </h1>

            </div>

            {% if error %}
            <div class="error-box">
                {{ error }}
            </div>
            {% endif %}

            {% if success %}
            <div class="success-box">
                Akun berhasil dibuat, silakan login
            </div>
            {% endif %}


            <form
                method="POST"
                class="auth-form"
            >

                <div class="form-group">

                    <input
                        type="text"
                        name="login_identifier"
                        placeholder="Username"
                        autocomplete="username"
                        required
                    >

                </div>

                <div class="form-group - password-wrapper">

                    <input
                        type="password"
                        id="newPassword"
                        name="password"
                        placeholder="Password"
                        autocomplete="current-password"
                        required
                    >
                    <span
                        class="toggle-password"
                        onclick="togglePassword('newPassword', this)"
                    >
                        👁️
                    </span>

                </div>

                <button
                    type="submit"
                    class="btn-login"
                >
                    Masuk
                </button>

            </form>

            <div class="auth-links">

                <a href="/auth/register">
                    Belum punya akun?
                </a>

                <span>•</span>

                <a href="/auth/reset-password">
                    Lupa Password?
                </a>

            </div>

        </div>

    </div>

</body>

<script>

    function togglePassword(inputId, icon){

        const input =
            document.getElementById(inputId);

        if(input.type === "password"){

            input.type = "text";
            icon.innerHTML = "🙈";

        }else{

            input.type = "password";
            icon.innerHTML = "👁️";

        }
    }

</script>

</html>