<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">

<meta 
    name="viewport" 
    content="width=device-width, initial-scale=1.0"
>

<title>Reset Password - FinBee</title>

<link
    rel="stylesheet"
    href="/static/css/auth.css"
>

<style>

.validation-msg{
    font-size:14px;
    font-weight:600;
    margin-top:4px;
}

</style>

</head>


<body>


<div class="auth-container">

    <div class="auth-card">

        <div class="auth-header">

            <div class="logo">
                🐝
            </div>

            <h1>
                Reset Password
            </h1>

        </div>


        <form
            method="POST"
            action="/auth/reset-password"
            class="auth-form"
        >


            <div class="form-group">

                <input
                    type="text"
                    name="login_identifier"
                    placeholder="Email atau Username"
                    required
                >

            </div>



            <div class="form-group password-wrapper">

                <input
                    type="password"
                    id="newPassword"
                    name="new_password"
                    placeholder="Password Baru"
                    required
                >

                <span
                    class="toggle-password"
                    onclick="togglePassword('newPassword', this)"
                >
                    👁️
                </span>

            </div>


            <div
                id="passwordMsg"
                class="validation-msg"
            ></div>



            <div class="form-group password-wrapper">

                <input
                    type="password"
                    id="confirmPassword"
                    name="confirm_password"
                    placeholder="Konfirmasi Password Baru"
                    required
                >

                <span
                    class="toggle-password"
                    onclick="togglePassword('confirmPassword', this)"
                >
                    👁️
                </span>

            </div>


            <div
                id="confirmMsg"
                class="validation-msg"
            ></div>



            <button
                type="submit"
                class="btn-login"
            >
                Reset Password
            </button>


        </form>


        <div class="auth-links">

            <a href="/auth/login">
                Kembali ke Login
            </a>

        </div>


    </div>


</div>



<script>


function togglePassword(id, icon){

    const input = document.getElementById(id);


    if(input.type === "password"){

        input.type = "text";
        icon.innerHTML = "🙈";

    }else{

        input.type = "password";
        icon.innerHTML = "👁️";

    }

}




const password =
document.getElementById("newPassword");


const confirmPassword =
document.getElementById("confirmPassword");


const passwordMsg =
document.getElementById("passwordMsg");


const confirmMsg =
document.getElementById("confirmMsg");





function checkPassword(){


    if(password.value === ""){

        passwordMsg.innerHTML = "";
        return;

    }



    if(password.value.length < 8){


        passwordMsg.style.color = "red";

        passwordMsg.innerHTML =
        "✗ Password minimal 8 karakter";


    }else{


        passwordMsg.style.color = "green";

        passwordMsg.innerHTML =
        "✓ Password memenuhi syarat";


    }

}





function checkConfirm(){


    if(confirmPassword.value === ""){

        confirmMsg.innerHTML = "";

        return;

    }



    if(password.value === confirmPassword.value){


        confirmMsg.style.color = "green";

        confirmMsg.innerHTML =
        "✓ Password sesuai";


    }else{


        confirmMsg.style.color = "red";

        confirmMsg.innerHTML =
        "✗ Password tidak sama";


    }


}





password.addEventListener(
    "input",
    function(){

        checkPassword();
        checkConfirm();

    }
);



confirmPassword.addEventListener(
    "input",
    checkConfirm
);



document
.querySelector("form")
.addEventListener(
"submit",
function(e){


    let valid = true;



    if(password.value.length < 8){

        passwordMsg.style.color = "red";

        passwordMsg.innerHTML =
        "✗ Password minimal 8 karakter";

        valid = false;

    }



    if(password.value !== confirmPassword.value){

        confirmMsg.style.color = "red";

        confirmMsg.innerHTML =
        "✗ Password tidak sama";

        valid = false;

    }



    if(!valid){

        e.preventDefault();

    }


});



</script>


</body>

</html>