{% extends "base.html" %}

{% block extra_css %}
<link
    rel="stylesheet"
    href="/static/css/dashboard.css"
>
{% endblock %}

{% block content %}

{% include "partials/hero_card.html" %}

<div class="metrics-grid">

    {% set title = "Saldo Saat Ini" %}
    {% set value = metrics.balance %}
    {% include "partials/metric_card.html" %}

    {% set title = "Total Pemasukan" %}
    {% set value = metrics.total_income %}
    {% include "partials/metric_card.html" %}

    {% set title = "Total Pengeluaran" %}
    {% set value = metrics.total_expense %}
    {% include "partials/metric_card.html" %}

    {% set title = "Total Top Up" %}
    {% set value = metrics.total_topup %}
    {% include "partials/metric_card.html" %}

</div>

{% endblock %}