*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Inter,sans-serif;
}

body{

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:
    linear-gradient(
        135deg,
        #0B132B,
        #1C2541,
        #3A506B
    );
}

.login-card{

    width:420px;

    background:#ffffff;

    border-radius:24px;

    padding:40px;

    box-shadow:
    0 20px 40px rgba(
        0,
        0,
        0,
        .25
    );
}

h1{

    text-align:center;

    color:#F4B400;

    margin-bottom:10px;
}

.subtitle{

    text-align:center;

    color:#666;

    margin-bottom:30px;
}

label{

    display:block;

    margin-bottom:8px;

    font-weight:600;
}

input{

    width:100%;

    padding:14px;

    margin-bottom:18px;

    border:1px solid #ddd;

    border-radius:12px;

    outline:none;
}

input:focus{

    border-color:#F4B400;
}

button{

    width:100%;

    padding:14px;

    border:none;

    border-radius:12px;

    cursor:pointer;

    font-size:16px;

    font-weight:700;

    color:white;

    background:
    linear-gradient(
        90deg,
        #F4B400,
        #FFD54F
    );
}

button:hover{

    opacity:.95;
}

.divider{

    height:1px;

    background:#eee;

    margin:20px 0;
}

a{

    display:block;

    text-align:center;

    text-decoration:none;

    margin-top:12px;

    color:#F4B400;

    font-weight:600;
}